aiohttp
uvloop
requests
aria2p
git+https://github.com/Hrishi2861/pyrofork-2.2.11-peer-fix.git
python-dotenv
pytz
tgcrypto
flask
motor                   # for MongoDB async
pyrogram               # Telegram bot framework
dnspython              # MongoDB Atlas use करने पर ज़रूरी
gunicorn               # Flask को deploy करने के लिए
